*.pyc
notes*
mysite.sock
logs
venv
mysite/db.sqlite3
mysite/notes
# mysite/static
mysite/static/js/packages
mysite/static/node_modules
mysite/static/admin
# this has secret key:
mysite/mysite/settings.py
