<!DOCTYPE html>
<html lang="en">

  <!-- Head -->
  <head>

    <meta charset="utf-8">
    <meta name="description" content="a forum">
    <meta name="author" content="Oliver">

    <!--
    <link rel="icon" href="/static/favicon.ico">
    -->

    <title>The Pontificator | A Silly Forum App</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/custom.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab|Crimson+Text|Cinzel|Cantata+One' rel='stylesheet' type='text/css'>

    <!-- JavaScript -->
    <!-- concat-ed and minified with Grunt -->
    <script src="/static/js/build/production.min.js"></script>

  </head>

  <!-- Body -->
  <body>

      <!-- Content -->
      <div id="template-content">
        {% block content %}
        {% endblock %}
      </div>

      <!-- page-specific JavaScript -->
      {% block jsblock %}
      {% endblock %}

  </body>

</html>
