<!DOCTYPE html>
<html lang="en">

  <!-- Head -->
  <head>

    <meta charset="utf-8">
    <!--
    <meta name="description" content="a forum">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">
    -->

    <title>The Pontificator | A Silly Forum App</title>

    <!-- CSS -->
    
    <!--
    <link rel="stylesheet" href="/static/css/custom.css">
    -->

  </head>

  <!-- Body -->
  <body>

      <!-- Content -->
      <div id="template-content">
        {% block content %}
        {% endblock %}
      </div>

      <!-- JavaScript -->

      <!-- concat with grunt later -->
      <script src="/static/js/packages/angular.min.js"></script>
      <script src="/static/js/packages/jquery-1.11.3.min.js"></script>

      <!-- page-specific JavaScript -->
      {% block jsblock %}
      {% endblock %}

  </body>

</html>
