{% extends "base.html" %}

{% block content %}
<!-- overarching span tag, invoking Angular -->
<span ng-app="myApp">

<h2>The Pontificator</h2>
<i>A forum for forum's sake</i>

<br>
<br>


{% verbatim %}

<!-- use Angular -->

Start a new thread!

<br>
<br>

<div ng-controller="threadFormController">
  <form novalidate>
    Title:
    <input type="text" ng-model="user.mytitle">
    Name:
    <input type="text" ng-model="user.myusername">
    Description:
    <input type="text" ng-model="user.mydescription">
    <input type="submit" ng-click="submit()" value="Submit" />
    <!--
    <button ng-click="submit()">SUBMIT</button>
    -->
  </form>
  <pre>user = {{user | json}}</pre>
</div>

<br>
<hr>
<br>

Threads:
<br>

<div ng-controller="threadController">
    <ul>
      <li ng-repeat="thread in myThreads">
	 <u>{{ thread.title }}</u>
	 <small><i>( {{ thread.description }} )</i></small>
	 <br>
	 <small>Posted by <b>{{ thread.username }}</b> on {{ thread.pub_date | date:'medium' }}</small>
      </li>
    </ul>
{{ test }}
</div>

{% endverbatim %}

<br>
<hr>
<br>

<!-- use Django template -->

Start a new thread!

<br>
<br>

<form action="/create_post/" method="POST" id="threadForm">
    {% csrf_token %}
    {{ myform }}
    <!--
    <input type="submit" value="Submit" />
    -->
    <input id="threadButton" type="button" value="Submit" />
</form>

<br>
<hr>
<br>

Threads:
<br>

{% if mythreads %}
    <ul>
    {% for thread in mythreads %}
        <li>
	    <u>{{ thread.title }}</u>
            {% if thread.description %}
	        <small><i>( {{ thread.description }} )</i></small>
            {% endif %}
	    <br>
	    <small>Posted by <b>{{ thread.username }}</b> on {{ thread.pub_date }}</small>
	</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No threads are available.</p>
{% endif %}

</span>
{% endblock %}

{% block jsblock %}
<!-- concat with grunt later -->
<script src="/static/js/myfunctions.js"></script>
<script src="/static/js/myAppController.js"></script>
<script>
    $(document).ready(function() {
        ajaxMyForm();
    });
</script>
{% endblock %}
