<!-- The Thread -->
<h3>{{ myCommentThread.title }}</h3> 
&middot; Posted by <b>{{ myCommentThread.username }}</b> on {{ myCommentThread.pub_date | date:'medium' }}</small>

<br>
<hr>
<br>

Comments:

<br>
<br>

<div>
    <ul>
      <li ng-repeat="comment in myComments | orderBy: '-score'">
         <span class="f1">{{ comment.text }}</span>
	 <br>
         <b>[score: {{ comment.score }} ]</b> 
	 <small><small><input type="button" ng-click="likeComment(comment.id)" value="like" /></small></small>
	 <br>
	 <span class="f2">Posted by <b class="heavy">{{ comment.username }}</b> on {{ comment.pub_date | date:'medium' }}</span>
      </li>
    </ul>
</div>

<br>
<hr>
<br>

Add your own comment:

<br>
<br>

<div>
  <form novalidate>
    Text:
    <input type="text" ng-model="usercomment.mytext">
    Name:
    <input type="text" ng-model="usercomment.myusername">
    <input type="submit" ng-click="submit()" value="Submit" />
  </form>
</div>

<div class="alert" ng-model="alertMessage">{{alertMessage}}</div>

<br>
<br>

<a href="/#/">Back to Threads</a>
<br>
<br>
<samp><a href="/threads/{{myCommentThread.id}}/comments">Get JSON data</a></samp>
