Start a new thread!

<br>
<br>

<div>
  <form novalidate>
    Title:
    <input type="text" ng-model="userthread.mytitle">
    Name:
    <input type="text" ng-model="userthread.myusername">
    Description:
    <input type="text" ng-model="userthread.mydescription">
    <input type="submit" ng-click="submit()" value="Submit" />
  </form>
</div>

<div class="alert" ng-model="alertMessage">{{alertMessage}}</div>

<br>
<hr>
<br>

Threads:
<br>

<div>
    <ul>
      <li ng-repeat="thread in myThreads | orderBy: '-pub_date'">
         <a class="f1" href="/#/comments/{{thread.id}}">{{ thread.title }}</a>
	 <small><i>{{ thread.description }}</i></small>
	 <br>
	 <span class="f2">Posted by <b class="heavy">{{ thread.username }}</b> on {{ thread.pub_date | date:'medium' }}</span>
      </li>
    </ul>
</div>

<br>
<hr>
<br>

<samp><a href="/threads">Get JSON data</a></samp>
